body {
  margin:0;
  font-family: roboto;
}
.home-body {
  width:100vw;
}
.home-children-main {
  height:100vh;
  display:flex;
  flex-direction: column;
}

.header-DNL-box {
  position:absolute;
  transform: translate(33px, -65px);
  height:40px;
  width:80px;
  border-radius: 20px;
  background-color: gray;
  cursor: pointer;
}
.header-DNL-ball {
  background-color: white;
  border-radius: 50%;
  width:25px;
  height:25px;
  transform: translate(45px,8px);
}
.footer-layout {
  overflow-x: hidden;
}

.footer-layout {
  position: relative;
  bottom: 0;
}
.home-main-container {
  background-color: gray;
  margin-left:15%;
  margin-right:15%;
  padding:40px;
  padding-bottom:70px;
  padding-top:70px;
  border-radius: 15px;
  position:relative;
  top:12%;
  overflow: hidden;
}
#home-profile-pic {
  position:relative;
  right:8%;
  float:right;
  background-image: linear-gradient(to right,#2A2B2D ,#1E7892);
  border-radius: 15px;
}
.home-small-text {
  font-size: 20px;
  width:354px;
}
.home-small-text1 {
  font-size: 20px;
}
.home-h1-text {
  font-size: 50px;
}
.home-text-con {
  position:relative;
  left:5%;
  display: inline-block;
}
.home-explore-btn {
  font-size: 15px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: black;
  color:white;
  text-decoration: none;
}
.home-explore-btn:hover {
  transition: all 300ms ease-in-out;
  box-shadow: 2px 6px 8px lightblue;
}
.home-explore-btn:active {
  background-color: transparent;
}
.home-bg4-pic {
  float: right;
  display: inline-block;
  background-color: gray;
  width:452px;
  height:320px;
}
.home-picture4-absolute {
  position: absolute;
  left:43%;
  bottom:15%;
  border:solid;
  border-image: linear-gradient(to right, blue, red, lightblue) 1;
}
.home-circle1 {
  width:286px;
  height:286px;
  border-radius: 50%;
  transform: translate(-147px, -39px);
  background-color: gray;
  position: absolute;
}
.home-box1 {
  width:286px;
  height:286px;
  transform: translate(-190px, 136px) rotate(45deg);
  background-color: gray;
  position: absolute;
}
.home-box2 {
  width:208px;
  height:402px;
  transform: translate(470px, -9px);
  background-color: gray;
  position: absolute;
}

/* Loading ICON  */

.loading-con {
  height:90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loading-img {
  width:105px;
  height:58px;
  border-radius: 50%;;
  animation: spin 0.5s infinite;
}
.loading-absolute {
  position:absolute;
  width:27px;
  height:27px;
  border-radius: 50%;
  background-color: red;
}
.loading-circle-con {
  width:90px;
}
.loading-img-con {
  width:90px;
}

@keyframes spin {
  to{transform: rotateZ(360deg);}
}



/* ------------------------------------------ */

    @media (max-width:600px) {
      
    .home-body {
      width:100vw;
    }
    .home-children-main {
      height:100vh;
    }

    .header-DNL-box {
      position:absolute;
      transform: translate(20px, -51px);
      height:25px;
      width:45px;
      border-radius: 20px;
      background-color: gray;
      cursor: pointer;
    }
    .header-DNL-ball {
      background-color: white;
      border-radius: 50%;
      width:13px;
      height:13px;
      transform: translate(26px,6px);
    }
    .footer-layout {
      overflow-x: hidden;
    }

    .footer-layout {
      position: relative;
      bottom: 0;
    }
    .home-main-container {
      background-color: gray;
      margin-left:15px;
      margin-right:15px;
      padding:15px;
      padding-bottom:70px;
      padding-top:8px;
      border-radius: 15px;
      position:relative;
      top:10%;
      overflow: hidden;
    }
    #home-profile-pic {
      width:211px;
      height:125px;
      position:relative;
      right:8%;
      float:right;
      background-image: linear-gradient(to right,#2A2B2D ,#1E7892);
      border-radius: 15px;
    }
    .home-small-text {
      position:relative;
      margin-top:27px;
      font-size: 15px;
      width:157px;
    }
    .home-h1-text {
      font-size: 30px;
    }
    .home-text-con {
      position:relative;
      left:5%;
      display: inline-block;
    }
    .home-explore-btn {
      font-size: 15px;
      padding-top: 20px;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      cursor: pointer;
      background-color: black;
      color:white;
      text-decoration: none;
      margin: 10px;
    }
    .home-explore-con {
      
    }
    .home-explore-btn:hover {
      transition: all 300ms ease-in-out;
      box-shadow: 2px 6px 8px lightblue;
    }
    .home-explore-btn:active {
      background-color: transparent;
    }
    .home-bg4-pic {
      float: right;
      display: inline-block;
      background-color: gray;
      width:452px;
      height:320px;
    }
    .home-picture4-absolute {
      max-width:100%;
      max-height:100%;
      position: absolute;
      transform: translate(-8px,-74px);
      left:54%;
      bottom:15%;
      border:solid;
      border-image: linear-gradient(to right, blue, red, lightblue) 1;
    }
    .home-circle1 {
      width:286px;
      height:286px;
      border-radius: 50%;
      transform: translate(-251px, -144px);
      background-color: gray;
      position: absolute;
    }
    .home-box1 {
      width:286px;
      height:286px;
      transform: translate(-307px, -40px) rotate(45deg);
      background-color: gray;
      position: absolute;
    }
    .home-box2 {
      width:208px;
      height:402px;
      transform: translate(147px, -9px);
      background-color: gray;
      position: absolute;
    }
    
    }











@media (max-width:1100px) and (min-width:770px){
      body {
        margin:0;
        font-family: roboto;
      }
      .home-body {
        width:100vw;
      }
      .home-children-main {
        height:100vh;
        display:flex;
        flex-direction: column;
      }
      
      .header-DNL-box {
        position:absolute;
        transform: translate(33px, -65px);
        height:40px;
        width:80px;
        border-radius: 20px;
        background-color: gray;
        cursor: pointer;
      }
      .header-DNL-ball {
        background-color: white;
        border-radius: 50%;
        width:25px;
        height:25px;
        transform: translate(45px,8px);
      }
      .footer-layout {
        overflow-x: hidden;
      }
      
      .footer-layout {
        position: relative;
        bottom: 0;
      }
      .home-main-container {
        background-color: gray;
        margin-left:15%;
        margin-right:15%;
        padding:40px;
        padding-bottom:70px;
        padding-top:70px;
        border-radius: 15px;
        position:relative;
        top:12%;
        overflow: hidden;
      }
      .home-picture-con {
      }
      #home-profile-pic {
        width:261px;
        height:160px;
        position:relative;
        right:8%;
        float:right;
        background-image: linear-gradient(to right,#2A2B2D ,#1E7892);
        border-radius: 15px;
      }
      .home-small-text {
        font-size: 15px;
        width:354px;
      }
      .home-small-text1 {
        font-size: 20px;
      }
      .home-h1-text {
        font-size: 50px;
      }
      .home-text-con {
        position:relative;
        left:5%;
        display: inline-block;
      }
      .home-explore-btn {
        font-size: 15px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        cursor: pointer;
        background-color: black;
        color:white;
        text-decoration: none;
      }
      .home-explore-btn:hover {
        transition: all 300ms ease-in-out;
        box-shadow: 2px 6px 8px lightblue;
      }
      .home-explore-btn:active {
        background-color: transparent;
      }
      .home-bg4-pic {
        float: right;
        display: inline-block;
        background-color: gray;
        width:452px;
        height:320px;
      }
      .home-picture4-absolute {
        position: absolute;

        transform: translate(163px, -56px);
        left:43%;
        bottom:15%;
        border:solid;
        border-image: linear-gradient(to right, blue, red, lightblue) 1;
      }
      .home-circle1 {
        width:286px;
        height:286px;
        border-radius: 50%;
        transform: translate(-231px, -114px);
        background-color: gray;
        position: absolute;
      }
      .home-box1 {
        width:286px;
        height:286px;
        transform: translate(-300px, -15px) rotate(45deg);
        background-color: gray;
        position: absolute;
      }
      .home-box2 {
        width:208px;
        height:402px;
        transform: translate(195px, -9px);
        background-color: gray;
        position: absolute;
      }
      
}






@media (max-width:770px) and (min-width:600px){
  body {
    margin:0;
    font-family: roboto;
  }
  .home-body {
    width:100vw;
  }
  .home-children-main {
    height:100vh;
    display:flex;
    flex-direction: column;
  }
  
  .header-DNL-box {
    position:absolute;
    transform: translate(33px, -65px);
    height:40px;
    width:80px;
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
  }
  .header-DNL-ball {
    background-color: white;
    border-radius: 50%;
    width:25px;
    height:25px;
    transform: translate(45px,8px);
  }
  .footer-layout {
    overflow-x: hidden;
  }
  
  .footer-layout {
    position: relative;
    bottom: 0;
  }
  .home-main-container {
    background-color: gray;
    margin-left:15%;
    margin-right:15%;
    padding:40px;
    padding-bottom:70px;
    padding-top:70px;
    border-radius: 15px;
    position:relative;
    top:12%;
    overflow: hidden;
  }
  .home-picture-con {
  }
  #home-profile-pic {
    width:261px;
    height:160px;
    position:relative;
    right:8%;
    float:right;
    background-image: linear-gradient(to right,#2A2B2D ,#1E7892);
    border-radius: 15px;
  }
  .home-small-text {
    font-size: 15px;
    width:270px;
  }
  .home-small-text1 {
    font-size: 20px;
  }
  .home-h1-text {
    font-size: 50px;
  }
  .home-text-con {
    position:relative;
    left:5%;
    display: inline-block;
  }
  .home-explore-btn {
    font-size: 15px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: black;
    color:white;
    text-decoration: none;
  }
  .home-explore-btn:hover {
    transition: all 300ms ease-in-out;
    box-shadow: 2px 6px 8px lightblue;
  }
  .home-explore-btn:active {
    background-color: transparent;
  }
  .home-bg4-pic {
    float: right;
    display: inline-block;
    background-color: gray;
    width:452px;
    height:320px;
  }
  .home-picture4-absolute {
    position: absolute;

    transform: translate(90px, -56px);
    left:43%;
    bottom:15%;
    border:solid;
    border-image: linear-gradient(to right, blue, red, lightblue) 1;
  }
  .home-circle1 {
    width:286px;
    height:286px;
    border-radius: 50%;
    transform: translate(-231px, -114px);
    background-color: gray;
    position: absolute;
  }
  .home-box1 {
    width:286px;
    height:286px;
    transform: translate(-300px, -15px) rotate(45deg);
    background-color: gray;
    position: absolute;
  }
  .home-box2 {
    width:208px;
    height:402px;
    transform: translate(195px, -9px);
    background-color: gray;
    position: absolute;
  }
  
}