body {margin:0px;
    font-family: "Roboto", sans-serif;
}
/* ALL ICON AREA */
.fa-solid.fa-arrow-left.fa-2x {
    color:white;
    cursor: pointer;
}
.back-arrow {
    position: absolute;
    display:inline-block;
    visibility: hidden;
    transform: translate(45px, -488px);
}
/* ALL ICON AREA  END HERE */

/* THIS IS NAV BAR */
.main-con {
    width:100%;
    height:85px;
    background-color: black;
}
#company-logo {
    width:50px;
    margin:20px;
    margin-left:30px;
    display:inline-block;
}
#usaflag {
    display:inline-block;
    width:40px;
    height:25px;
    position:relative;
    top:12px;
    cursor: pointer;
}
.right-con {
    display:flex;
    float:right;
    margin-top:15px;
    margin-right:50px;
}
.list-con {
    list-style: none;
    display:flex;
    margin-right:30px;
}
.list-item {
    margin-right:50px;
    color:white;
    cursor: pointer;
}

/* THIS IS FIRST SLIDE */

.main-first-slide {
    position: relative;
    top:0;
    bottom:0;
    width:100%;
    height:100vh;
    background-image: linear-gradient(to right, black, #3533cd);
}
.text-cover {
    position:relative;
    top:20px;
    width:100%;
    color:white;
    font-size:20px;
    text-align: center;
}
#explore-btn {
    color:white;
    font-size:18px;
    padding:13px;
    background-image: linear-gradient(to right, black, #3533cd);
    border-radius: 20px;
    cursor:pointer;
}
.btn-con {
    display:flex;
    justify-content: center;
    position:relative;
    top:30px;
}

/* SECOND SLIDE AREA */
.secondslide {
    height:100vh;
}
#sec-title {
    text-align: center;
    position:relative;
    top:30px;
    color:white;
    font-size:30px;
}
#point-hand-icon {
    color:white;
}
.con-of-3 {
    display:flex;
    justify-content: center;
    align-items: center;
    height:463px;
}
.section-child-2 {
    margin-right:10%;
    text-align: center;
}
#section-design-desire {
    margin-right:0px;
    
}
#section-maintenance {
}
#section-build {
}
.section-btn {
    font-size:17px;
    padding:15px;
    cursor: pointer;
    border-radius: 20px;
    color:white;
    background-color:#3533cd;
}
#sec-btn {
    padding-top:24px;
    padding-bottom:24px;
}
#web-credit {
    text-align: center;
}

.detail-of-section1 {
    position:absolute;
    border:solid ;
    width:278px;
    height:190px;
    font-size:20px;
    padding:20px;
    transform: translate(475px, -310px);
    visibility: hidden;
}
.detail-of-section2 {
    position:absolute;
    border:solid ;
    width:278px;
    height:212px;
    font-size:20px;
    padding:20px;
    padding-top:0px;
    transform: translate(475px, -310px);
    visibility: hidden;
}
.detail-of-section3 {
    position:absolute;
    border:solid ;
    width:278px;
    height:193px;
    font-size:20px;
    padding:20px;
    padding-top:0px;
    transform: translate(475px, -310px);
    visibility: hidden;
}

/* THIRD SLIDE AREA */

.thirdslide-con {
    height:100vh;
}
.third-title {
    position:relative;
    text-align: center;
    font-size: 30px;
    top:25px;
}
.thirdslide-content {
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.child-box {
    text-align: center;
    list-style: none;
    border: solid;
    border-image: linear-gradient(to right, black, #3533cd) 1;
    padding:17px;
    padding-bottom: 0px;
    background-image: linear-gradient(to bottom right, black, #3533cd);
}
#Trapf-img {
    width:180px;
}
/* FOOTER OF HOMEPAGE */

.footer-of-home {
    background-color: black;
    position: relative;
    height:100px;
    top:136px;
    border-top:solid;
    border-image: linear-gradient(to top left, black, #3533cd) 1;
}
#footer-text {
    font-size:17px;
    margin-top:33px;
    margin-left:20px;
    text-align: center;
    width:300px;
}
.icon-con {
    display:inline-block;
    float:right;
    position:relative;
    top:-49px;
    margin-right:20px;
}
.icon-item {
    margin-right:15px;
    cursor: pointer;
}

/* ADDON SECTION  */
.hidden {visibility: hidden;}
.show {visibility: visible;}


.freeze-for-move-bouns-back {transform: translate(0px, 0px);}


.move-section-bouns-back {
    animation-name: movesectionbouns-back;
    animation-duration: 1s;
}

@keyframes movesectionbouns-back {
    to{transform: translate(0px, 0px);}
}

/* ANIMATION FOR SECTION 1*/

.freeze1-for-move-aside {transform: translateX(306px)}
.freeze1-for-move-up {transform: translateY(-110px)}

.move-section1-aside {
    animation-name: movesection1aside;
    animation-duration: 1s;
}
.move-section1-up {
    animation-name: movesection1up;
    animation-duration: 1s;
}

@keyframes movesection1aside {
    to{transform: translateX(306px);}
}
@keyframes movesection1up {
    to{transform: translateY(-110px);}
}

/* ANIMATION FOR SECTION 2*/
.freeze2-for-move-aside {transform: translateX(-303px)}
.freeze2-for-move-down {transform: translateY(103px)}

.move-section2-aside {
    animation-name: movesection2aside;
    animation-duration: 1s;
}
.move-section2-down {
    animation-name: movesection2down;
    animation-duration: 1s;
}
@keyframes movesection2aside {
    to{transform: translateX(-303px);}
}
@keyframes movesection2down {
    to{transform: translateY(103px);}
}

/* ANIMATION FOR SECTION 3*/

.freeze3-for-move-aside {transform: translateX(-304px)}
.freeze3-for-move-up {transform: translateY(-120px)}

.move-section3-aside {
    animation-name: movesection3aside;
    animation-duration: 1s;
}
.move-section3-up {
    animation-name: movesection3up;
    animation-duration: 1s;
}

@keyframes movesection3aside {
    to{transform: translateX(-304px);}
}
@keyframes movesection3up {
    to{transform: translateY(-120px);}
}
