.D2B-body {
    margin:0;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right, #BFFFCD, #3270e6 );
  }
  /* Addon Section  */
  
  
  
  /* Addon Section End here */
  
  .D2B-main-container {
    text-align: center;
    height:100vh;
  }
  .D2B-second-container {
    position: relative;
    top:25%;
    height:75%;
    overflow: hidden;
    transform: translateY(0px);
  }
  #D2B-title {
    margin:0px;
  }
  #D2B-user-input {
    width:160px;
    height:10px;
    border-radius: 20px;
    padding:10px;
  }
  .D2B-submit-button {
    border-radius: 15px;
    width:80px;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
  }
  .D2B-submit-button2 {
    margin-right:10px;
    border-radius: 15px;
    width:100px;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
    visibility: hidden;
  }
  #D2B-explaination {
    list-style: none;
  }
  .D2B-answer {
    visibility: hidden;
  }
  .D2B-answer-text {
    visibility: hidden;
  }
  .D2B-total-answer {
    padding:5px;
    border:solid;
    border-radius: 15px;
    background-image: linear-gradient(to left, #BFFFCD, #3270e6 );
  }
  
  /* Footer */
  .D2B-footer {
    height:60px;
    background-color:grey;
    border:solid 5px;
    border-image: linear-gradient(to left, #BFFFCD, #3270e6);
    border-image-slice: 1;
    transform: translateY(0px);
    background-image: linear-gradient(to right, #243453,  #daeadd);
  }
  #D2B-footer-credit {
    margin: 0px;
    margin-left:3%;
    position:relative;
    font-size: 13px;
    top:24px;
    color:white;
  }
  .D2B-icon-con {
    float:right;
    margin-right:10px;
    position:relative;
    
  }
  .D2B-all-icon {
    margin-right:10px;
    cursor: pointer;
  }
  .D2B-reset-btn {
    border-radius: 15px;
    width:80px;
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
    visibility: hidden;
  }
  .goback-link-child {
    text-decoration: none;
    border:solid green;
    padding:10px;
    border-radius: 20px;
  }
  .goback-link {
    position:absolute;
    top:30px;
    left:3%;
  }


  /* ADD ON SECTION */

  .show {visibility: visible}
.hide {visibility: hidden}

.freeze-move-up-con {
    top:4%;
    height:auto;
}
.freeze-change-h {
    height:auto;
}
.freeze-move-footer-down {
    transform: translateY(116px);
}

.move-con-up {
    animation-name: moveup;
    animation-duration: 1s;
}
.move-footer-down {
    animation-name: movefooterdown;
    animation-duration: 1s;
}
.move-con-up-back {
    animation-name: moveupback;
    animation-duration: 1s;
}


@keyframes moveup {
    to{top:4%}
}
@keyframes movefooterdown {
    to{transform: translateY(116px)}
}
@keyframes moveupback {
    to{transform: translateY(0px);}
}